* {
    box-sizing: border-box;
}

body {
    background: url(cellular-address-book-point-annotation.jpg);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #000;
    color: #ffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 600px;
    max-width: 100%;
}

.header {
    background-color: #11327a;
    padding: 20px 40px;
}

.header h2 {
    margin: 0;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.form-control label {
    padding: 10px;
}

.form-control input {
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    padding: 10px;
}

.form-control.success input {
    border-bottom: 2px solid #1e53c5;
}

.form-control.error input {
    border-bottom: 3px solid #e74c3c;
}

.form-control select {
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    padding: 10px;
}

.form-control.success select {
    border-bottom: 2px solid #1e53c5;
}

.form-control.error select {
    border-bottom: 3px solid #be2211;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    visibility: visible;
    color: #1e53c5;
}

.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: #be2211;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small {
    color: #be2211;
    visibility: visible;
}

.form input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #11327a;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    display: block;
    font-family: inherit;
    padding: 10px;
    width: 100%;
}

.form input[type="submit"]:hover {
    background: #1b4bb3;
    cursor: pointer;
}