body{
    background-color: #000;
}

#caja{
    background-color: rgb(15, 121, 148);
    margin-top: 10%;
    margin-bottom: 8%;
    margin-left: center;
    padding: 4rem 1rem 4rem 1rem; 
    border-radius: 25px;
}

.btn-class{
    border-color: gray;
    color: black;
}

.form-label-group.success input {
    border: 2px solid #28a745;
}
.form-label-group.error input {
    border: 2px solid #e74c3c;
}

.form-label-group{
    margin-bottom: 4%;
}



.form-label-group small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;
}
.form-label-group.error small {
    visibility: visible;
    position: relative;
    color: #e74c3c;
}

.form-label-group.error button[type="submit"] {
    background-color: rgb(247, 43, 43);
    border: 2px solid rgb(247, 43, 43);
    font-size: 16px;
    padding: 10px;
}



/*  REGISTRO USUARIO*/
.card-body{
    background-color: #000;
    /*border-radius: 4rem;*/
    outline: none; /*Para quitar la linea negra del boton*/
    border-collapse: collapse;
    border: none;
}

.container{
    background-color: #000;
    outline: none; /*Para quitar la linea negra del boton*/
    border-collapse: collapse;
    border: none;
}

.container .row{
    background-color: #000;
    outline: none; /*Para quitar la linea negra del boton*/
    border-collapse: collapse;
    border: none;
}

#form{
    background-color: rgb(15, 121, 148);
    margin-top: -7%;
    margin-left: center;
    padding: 4rem 1rem 4rem 1rem; 
    border-radius: 25px;
    outline: none; /*Para quitar la linea negra del boton*/
    border-collapse: collapse;
    border: none;
}


.card-body form h5{
    font-size: 30px; /*Tamaño de la letra del h2 "Registrar" */
    text-align: center; /*Centrar el texto*/
    margin-bottom: 20px; /*Distancia del texto entre las cajas de texto*/
    color: #fff;
}



/*LETRAS DE iniciar SESION Y REGISTRAR USUARIO*/
.row h3{
    color: #fff;
}